[submodule "src/modules/fmt"]
	path = src/modules/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/modules/doctest"]
	path = src/modules/doctest
	url = https://github.com/doctest/doctest.git
[submodule "src/modules/wren"]
	path = src/modules/wren
	url = https://github.com/wren-lang/wren.git
[submodule "src/modules/lua"]
	path = src/modules/lua
	url = https://github.com/lua/lua.git
